<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>User</servlet-name>
  	<display-name>User</display-name>
  	<description></description>
  	<servlet-class>User</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminLogin</servlet-name>
  	<display-name>adminLogin</display-name>
  	<description></description>
  	<servlet-class>adminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<display-name>admin</display-name>
  	<description></description>
  	<servlet-class>adminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminProgress</servlet-name>
  	<display-name>AdminProgress</display-name>
  	<description></description>
  	<servlet-class>AdminProgress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStocks</servlet-name>
  	<display-name>AddStocks</display-name>
  	<description></description>
  	<servlet-class>AddStocks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStocks</servlet-name>
  	<display-name>DeleteStocks</display-name>
  	<description></description>
  	<servlet-class>DeleteStocks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertBooks</servlet-name>
  	<display-name>InsertBooks</display-name>
  	<description></description>
  	<servlet-class>InsertBooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Returned</servlet-name>
  	<display-name>Returned</display-name>
  	<description></description>
  	<servlet-class>Returned</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Issued</servlet-name>
  	<display-name>Issued</display-name>
  	<description></description>
  	<servlet-class>Issued</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBookname</servlet-name>
  	<display-name>SearchBookname</display-name>
  	<description></description>
  	<servlet-class>SearchBookname</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeAddress</servlet-name>
  	<display-name>ChangeAddress</display-name>
  	<description></description>
  	<servlet-class>ChangeAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePhoneNo</servlet-name>
  	<display-name>ChangePhoneNo</display-name>
  	<description></description>
  	<servlet-class>ChangePhoneNo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeDueCount</servlet-name>
  	<display-name>ChangeDueCount</display-name>
  	<description></description>
  	<servlet-class>ChangeDueCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePenalty</servlet-name>
  	<display-name>ChangePenalty</display-name>
  	<description></description>
  	<servlet-class>ChangePenalty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangeBookLimit</servlet-name>
  	<display-name>ChangeBookLimit</display-name>
  	<description></description>
  	<servlet-class>ChangeBookLimit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLogin</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminProgress</servlet-name>
  	<url-pattern>/AdminProgress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStocks</servlet-name>
  	<url-pattern>/AddStocks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStocks</servlet-name>
  	<url-pattern>/DeleteStocks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertBooks</servlet-name>
  	<url-pattern>/InsertBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Returned</servlet-name>
  	<url-pattern>/Returned</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Issued</servlet-name>
  	<url-pattern>/Issued</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBookname</servlet-name>
  	<url-pattern>/SearchBookname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeAddress</servlet-name>
  	<url-pattern>/ChangeAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePhoneNo</servlet-name>
  	<url-pattern>/ChangePhoneNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeDueCount</servlet-name>
  	<url-pattern>/ChangeDueCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePenalty</servlet-name>
  	<url-pattern>/ChangePenalty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeBookLimit</servlet-name>
  	<url-pattern>/ChangeBookLimit</url-pattern>
  </servlet-mapping>
</web-app>
